<footer>
  <div class="footer-section">
    <h3>About LIS</h3>
    <p>
      LEARNING IN SILENCE is an platform that provides online learning
      resources
    </p>
    <hr />
  </div>
  <div class="copyright">
    <p>&copy; 2025 LIS. All rights reserved.</p>
  </div>
</footer>
