

<nav class="NavBar" id="navbar">
  <a href="/"> <h1 id="logo">learning in silence </h1></a>
  <div class="NavLinks">
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact Us</a>
  </div>
</nav>