<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>ICrafter | Contact</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <div class="contactUs">
        <h1>HOW CAN YOU CAN CANTACT WITH US </h1>

        <p>
          We're here to help and answer any questions you might have. Feel free
          to reach out to us using the contact information below:
        </p>
        <div class="contactDetails">
          <div>
            <h2>Email:</h2>
            <p>
              For general inquiries:
              <a href="mailto:info@icrafter.com">info@LIS.com</a><br />
             
            </p>

            <h2>Phone:</h2>
            <p> 97638683</p>

            <h2>Address:</h2>
            <p>
              LIS  CITY <br />
              
            </p>
          </div>
          <div>
            <h2>Social Media:</h2>
            <p>
              Cantact us in social media for
              community highlights:<br />
              Twitter:
              <a href="twitter.com/icrafter" target="_blank">@LIS</a><br />
              Instagram:
              <a href="instagram.com/icrafter" target="_blank"
                >@LIS</a
              ><br />
              Facebook:
              <a href="facebook.com/icrafter" target="_blank">LIS</a>
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
