<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>LIS | Home</title>
  </head>
  <body>
    <main>
      <%- include('./partials/navbar.ejs') %>
      <div class="hero">
        <div class="heroContents">
          <h1>Welcome to LIS page: </h1>
          <p>
           An online learning website is a web-based platform that provides educational content and resources in one place, offering lectures, resources, and opportunities for students to interact with each other. It allows for self-paced learning, improved technical skills, and better time management. Users can access course materials, attend live lectures, and monitor their progress. Some popular online learning platforms include Coursera, Udemy, Skillshare
          </p>
        </div>
      </div>
      <section class="left">
        <div>
          <h1>The benefits of using online learning platforms :</h1>
          <p>
           Flexibility of Time and Location: Learners can access educational materials and attend classes from anywhere, at any time, providing flexibility and convenience
           Improved Skills Development: Online platforms offer a wide range of courses, allowing learners to develop technical, communication, and critical thinking skills
           Better Time Management: Online learning teaches students how to manage their time effectively, a valuable skill for both academic and professional pursuits
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://images.squarespace-cdn.com/content/v1/596e17229f74561878f79e76/76d44c10-a32e-4318-b252-1ae00f1dafd2/choosing+an+online+learning+platform+blog+graphic.png);
          "
        ></div>
      </section>
      <section class="right">
        <div>
          <h1>The challenges of online learning platforms:</h1>
          <p>
           Technical Difficulties: These can include unreliable internet connections, difficulties with video conferencing platforms, and limited access to necessary devices or software
           Feelings of Isolation: Online learning can lead to a sense of isolation due to the lack of physical interaction with classmates and teachers, which is a common challenge for students
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://www.contus.com/blog/wp-content/uploads/2020/06/ANNOUNCEMENTS10-Key-Features-To-Look-For-In-An-Online-Video-Education-Platform-1.png);
          "
        ></div>
      </section>
      <section class="left">
        <div>
          <h1>how do online learning platforms ensure that student data is secure:</h1>
          <p>
            Data Encryption and Access Control: Online learning platforms utilize data encryption, access control, and user authentication to secure data transmission, restrict unauthorized access, and protect sensitive information
1
2
.
Compliance with Privacy Laws: Platforms adhere to local and international privacy regulations, such as FERPA, to ensure that student data is handled in accordance with legal requirements
          </p>
        </div>
        <div
          id="firstImg"
          style="
            background-image: url(https://www.muvi.com/wp-content/uploads/2023/03/The-Importance-of-Security-in-eLearning-Platforms.jpg);
          "
        ></div>
      </section>
      
    </main>
    <%- include('./partials/footer.ejs')%>
    <script src="navbarBehavior.js"></script>
  </body>
</html>
