<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>ICrafter | Out of Service</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <div class="contents">
        <img
          src="https://cdn.pixabay.com/photo/2012/04/11/11/49/half-gear-27692_960_720.png"
          alt="broken site"
          width="150px"
        />
        <div>
          <h1>Out of Service</h1>
          <p>
            We are currently out of service. Please visit us during working
            hours.
            <br />
            (Monday to Friday, from 9 to 17)
          </p>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
<nav class="NavBar" id="navbar">
  <a href="/"> <h1 id="logo">ICrafter</h1></a>
  <div class="NavLinks">
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact Us</a>
  </div>
</nav>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Styles.css" />
<link
  rel="shortcut icon"
  href="https://icon-library.com/images/services-icon-png/services-icon-png-8.jpg"
  type="image/x-icon"
/>