<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>LIS | Services</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <h1>MY Services</h1>
      <div class="service">
       
        <h2>User Data Management:</h2>
        <p>
         User information, including profiles, progress, and performance data, is stored and managed on the server. This allows for personalized learning experiences and progress tracking.
        </p>
      </div>
      <div class="service">

        <h2>Content Delivery</h2>
        <p>
         The server is responsible for serving educational content to students, ensuring seamless access to videos, documents, and other learning materials.
        </p>
      </div>
      <div class="service">
        
        <h2>Course Management</h2>
        <p>
        The server hosts the logic for creating, organizing, and delivering courses. It stores course materials, such as videos, documents, and assessments.
        </p>
      </div>
      
        
      </div>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
